:root {
    --bg-login        : #F0F2F5;
    --bg-main         : #F0F2F5;
    --white           : #FFFFFF;
    --secondary       : #737373;
    --icon-secondary  : #65676B;
    --secondary-btn-bg: #E4E6EB;
    --btn-login       : #1877F2;
    --btn-newAcc      : #42B72A;
    --icon-hover      : #1877F2;
    --hr              : #DADDE1;
    --shadow          : rgb(0, 0, 0, 0.2);
}

body {
    background-color: var(--bg-login);
}

.bg- {

    &main,
    &home-body,
    &login {
        background-color: var(--bg-login);
    }

    &white {
        background-color: var(--white);
    }
}

.btn__ {
    &blue {
        background-color: var(--btn-login);
    }

    &green {
        background-color: var(--btn-newAcc);
    }
}

.text__ {
    &white {
        color: var(--white);
    }

    &secondary {
        color: var(--secondary);
    }
}

.bs- {
    &home {
        box-shadow: 0 1px 2px var(--shadow);
    }
}