@mixin flex-grow($n) {
    flex-grow: $n;
}

@mixin flex-shrink($n) {
    flex-shrink: $n;
}

.d- {
    &block {
        display: block;
    }

    &flex {
        display: flex;
    }
}

.jc- {
    &center {
        justify-content: center;
    }

    &between {
        justify-content: space-between;
    }
}

.ai- {
    &center {
        align-items: center;
    }

    &baseline {
        align-items: baseline;
    }
}

.as- {
    &center {
        align-items: center;
    }

    &baseline {
        align-items: baseline;
    }
}

.flex-direction- {
    &column {
        flex-direction: column;
    }

    &row {
        flex-direction: row;
    }
}

.flex-grow- {
    &one-four {
        @include flex-grow(0.25)
    }

    &0 {
        @include flex-grow(0)
    }

    &1 {
        @include flex-grow(1)
    }

    &2 {
        @include flex-grow(2)
    }
}

.flex-shrink- {
    &one-four {
        @include flex-shrink(0.25)
    }

    &0 {
        @include flex-shrink(0)
    }

    &1 {
        @include flex-shrink(1)
    }

    &2 {
        @include flex-shrink(2)
    }
}