@mixin flex-grow($n) {
    flex-grow: $n;
}

.d- {
    &block {
        display: block;
    }

    &flex {
        display: flex;
    }
}

.jc- {
    &center {
        justify-content: center;
    }

    &between {
        justify-content: space-between;
    }
}

.ai- {
    &center {
        align-items: center;
    }

    &baseline {
        align-items: baseline;
    }
}

.as- {
    &center {
        align-items: center;
    }

    &baseline {
        align-items: baseline;
    }
}

.flex-grow- {
    &one-four {
        @include flex-grow(0.25)
    }
    &1 {
        @include flex-grow(1)
    }
    &2 {
        @include flex-grow(2)
    }
}