@mixin border($n) {
    border: $n * 1px;
}

@mixin border-radius($n) {
    border-radius: $n * 1px;
}

.hr {
    display    : flex;
    align-items: center;

    border-bottom: 1px solid var(--hr);
    margin       : 1rem 0;
}

.bd- {
    &none {
        @include border(0);
    }
}

.bd-radius- {
    &6 {
        @include border-radius(6);
    }

    &7 {
        @include border-radius(7);
    }

    &12 {
        @include border-radius(12);
    }

    &50 {
        @include border-radius(50);
    }
}