button {
    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.cursor__ {
    &pointer:hover {
        cursor: pointer;
    }
}

.disable {
    cursor : not-allowed !important;
    opacity: .7;
}