<div>
    <div class="container width-100 bg-white bs-home">
        <div class="p-1-1.5">
            <div class="d-flex ai-center">
                <img src="../../../assets/images/me.PNG" alt="avatar" width=100% mat-card-avatar>
                <div class="input width-100 bg-main d-flex ai-center bd-radius-50 ml-2">
                    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
                        <input formControlName="textPost" class="width-100 bg-main f-15 lh-28 ml-1" type="text"
                            placeholder="What's on your mind, Dios?">
                        <button style="display: none;" type="submit"></button>
                    </form>
                </div>
            </div>

            <div class="hr my-1"></div>

            <div class="d-flex jc-space-around">
                <div class="d-flex ai-flex-end p-1-1.5 icon-hover">
                    <mat-icon style="color:#E42645">live_tv</mat-icon>
                    <span class="text__secondary fw-500 f-15 ml-1">Live Video</span>
                </div>
                <div class="d-flex ai-flex-end p-1-1.5 icon-hover">
                    <mat-icon style="color: #41B35D">insert_photo</mat-icon>
                    <span class="text__secondary fw-500 f-15 ml-1">Photo/Video</span>
                </div>
                <div class="d-flex ai-flex-end p-1-1.5 icon-hover">
                    <mat-icon style="color: #EAB026">mood</mat-icon>
                    <span class="text__secondary fw-500 f-15 ml-1">Feeling/Activity</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container width-100 bg-white bs-home my-2">
        <div class="p-1-1.5">
            <div class="d-flex ai-center">
                <img src="../../../assets/images/me.PNG" alt="avatar" width=100% mat-card-avatar>
                <div class="ml-2">
                    <span class="fw-550 mb-1">MyNhung Vo</span>
                    <div class="f-12 text__secondary d-flex ai-baseline">
                        <span>4h</span>
                        <mat-icon style="display: block;" class="f-12 ml-1">public</mat-icon>
                    </div>
                </div>
            </div>

            <div class="mt-1" style="max-width: 500px;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aliquid quo, voluptas enim
                    quidem,
                    eaque dolorum recusandae, laboriosam magni odit repellendus sequi ipsam deleniti ea incidunt
                    molestias
                    dolores vitae temporibus!</p>
            </div>
        </div>
    </div>
</div>