@mixin fw($n) {
    font-weight: $n;
}

.fw- {
    &500 {
        @include fw(500);
    }

    &550 {
        @include fw(550);
    }

    &normal {
        font-weight: normal;
    }

    &bold {
        font-weight: bold;
    }
}