<div style="margin-left: 5rem">
    <div class="story">
        <div class="story__container d-flex">
            <div class="story__item bd-radius-12">
                <img src="https://images.unsplash.com/photo-1608848941166-0cc5a0b12edc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80"
                    class="bd-radius-12" alt="story__image" />
                <div class="story__owner">
                    <img src="../../../../assets/images/me.PNG" alt="avatar" mat-card-avatar>
                </div>
            </div>
            <div class="story__item bd-radius-12">
                <img src="https://images.unsplash.com/photo-1608848692054-9a01d3e505a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
                    class="bd-radius-12" alt="story__image" />
                <div class="story__owner">
                    <img src="../../../../assets/images/kt.jpg" alt="avatar" mat-card-avatar>
                </div>
            </div>
            <div class="story__item bd-radius-12">
                <img src="https://images.unsplash.com/photo-1608865674254-105ce4667b80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=603&q=80"
                    class="bd-radius-12" alt="story__image" />
                <div class="story__owner">
                    <img src="../../../../assets/images/me.PNG" alt="avatar" mat-card-avatar>
                </div>
            </div>
            <div class="story__item bd-radius-12">
                <img src="https://images.unsplash.com/photo-1608994306979-394465c66422?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=632&q=80"
                    class="bd-radius-12" alt="story__image" />
                <div class="story__owner">
                    <img src="../../../../assets/images/kt.jpg" alt="avatar" mat-card-avatar>
                </div>
            </div>
            <div class="story__item bd-radius-12">
                <img src="https://images.unsplash.com/photo-1608914412956-956942bbab4d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
                    class="bd-radius-12" alt="story__image" />
                <div class="story__owner">
                    <img src="../../../../assets/images/kt.jpg" alt="avatar" mat-card-avatar>
                </div>
            </div>
        </div>
    </div>

    <div class="forum__container">
        <div class="form-status"></div>
        <div class="list-posts"></div>
    </div>
</div>