.home__ {
    &container {
        background-color: var(--white);
        line-height     : 1.34rem;
    }

    &header {

        &__left {
            img {
                cursor: pointer;
            }

            .input {
                padding: 0.25rem 0.5rem;

                input {
                    border    : none !important;
                    margin-top: 3px;
                }
            }
        }

        &__middle {
            div {
                padding: .8rem 0;

                &:hover {
                    border-radius   : 7px;
                    background-color: var(--bg-main);

                    cursor    : pointer;
                    transition: 200ms;
                }

                mat-icon {
                    color: var(--icon-secondary);

                    &.active {
                        color: var(--icon-hover);
                    }
                }
            }
        }

        &__right {
            .icon {
                background-color: var(--secondary-btn-bg);
                border-radius   : 50%;

                &:hover {
                    cursor: pointer;
                }

                mat-icon {
                    padding: .5rem;
                }
            }
        }
    }

    &body {}
}