.home__ {
    &container {
        line-height: 1.34rem;

        background-color: var(--white);
        box-shadow      : 0 1px 2px var(--shadow);
    }

    &header {

        position: sticky;
        top     : 0;
        left    : 0;

        background-color: var(--white);
        z-index         : 1;

        &__left {
            img {
                cursor: pointer;
            }

            .input {
                padding: 0.25rem 0.5rem;

                input {
                    border    : none !important;
                    margin-top: 3px;
                }
            }
        }

        &__middle {

            div {
                padding: .75rem 0;

                &:hover {
                    border-radius   : 7px;
                    background-color: var(--bg-main);

                    cursor    : pointer;
                    transition: 200ms;
                }

                mat-icon {
                    color: var(--icon-secondary);

                    &.active {
                        color: var(--icon-hover);
                    }
                }
            }
        }

        &__right {
            .icon {
                background-color: var(--secondary-btn-bg);
                border-radius   : 50%;

                &:hover {
                    cursor: pointer;
                }

                mat-icon {
                    padding: .5rem;
                }
            }
        }
    }

    &body {
        &__sidebarLeft {
            position       : sticky;
            overflow-anchor: none;
            max-height     : 0;

            top    : 57px;
            left   : 0;
            z-index: 0;

            span:before {
                content    : '';
                margin-left: 1.5rem;
            }
        }

        &__sidebarMiddle {
            display        : flex;
            justify-content: center;
            padding        : 1rem 0;
        }

        &__sidebarRight {
            position       : sticky;
            overflow-anchor: none;
            max-height     : 0;

            top    : 57px;
            left   : 0;
            z-index: 0;

            #sponsored img {
                width        : 7rem;
                border-radius: 10px;
            }

            .contact {
                height: 228px;

                &__list {
                    height    : 100%;
                    overflow-y: auto;
                }
            }
        }
    }
}