html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

*::-webkit-scrollbar {
    width: .75em;
}

*::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius   : 10px;
}

input:focus {
    outline: none;
}

@import './assets/scss/main.scss'